<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOARD</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Sunflower:wght@300&display=swap" rel="stylesheet">

</head>
<body>

<div class = frame>

    <nav class="navigator">
        <h3 class="site-name">KINGDOM OF YUJONG</h3>
        <ul>
            <li><a class="nav-menu" href="/">HOME</a></li>
            <li><a class="nav-menu" href="/info">INFO</a></li>
            <li><a class="nav-menu" href="/work">WORK</a></li>
            <li><a class="nav-menu" href="/index">BOARD</a></li>
        </ul>
    </nav>
    <h2 class="board">게시판</h2>

    <a class = "wrt" href="/save">글작성</a>

    <table class="list">
        <thead class="top">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성시간</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody class="bottom">
        <tr th:each="board : ${boardList}">
            <td class = "number" th:text="${board.id}"></td>
            <td class= "title">
                <a th:text="${board.boardTitle}" th:href="@{|/${board.id}|}"></a>
            </td>
            <td class = "writer" th:text="${board.boardWriter}"></td>
            <td class = "createdAt"  th:text="${board.createdAt}"></td>
            <td class = "hits" th:text="${board.boardHits}"></td>
        </tr>
        </tbody>
    </table>




    <footer class="footer">
        <h3 class="contact"> CONTACT ME</h3>
        <div class="links">
            <a class="insta" href="https://www.instagram.com/general_yu_j95/profilecard/?igsh=MTBpaW4yOHFsYW12dg=="> INSTAGRAM </a>
            <a class="facebook" href="https://www.facebook.com/people/%EC%A0%95%EC%9C%A0%EC%A2%85/pfbid0bNtbmwQipabYKS497vjAk627VNU9zXbwwBqhACBhw6zwHtSNwMvkwTGdbHoAfmRDl/"> FACEBOOK </a>
        </div>


    </footer>

</div>
</body>
</html>