<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WORK</title>

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Sunflower:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class = frame>

  <nav class="navigator">
    <h3 class="site-name">KINGDOM OF YUJONG</h3>
    <ul>
      <li><a class="nav-menu" href="/">HOME</a></li>
      <li><a class="nav-menu" href="/info">INFO</a></li>
      <li><a class="nav-menu" href="/work">WORK</a></li>
      <li><a class="nav-menu" href="/index">BOARD</a></li>
    </ul>
  </nav>






  <h5 class="project6game">소논문 작성</h5>

  <div>

    <img class="gameProjectPic"  src="/css/image/game.png" alt="">

    <div class="projectGle6">
      <p>사용한기술</p>

      <p>-</p>


      <br>
      <p>기능</p>
      <p>-</p>

    </div>

  </div>
  <a href="/css/game.pdf" download="example.pdf" class="download-button4">다운로드</a>
  <p class="projectGle66" style="clear:left;  ">
    <br>
    기술스택이나 기능이 없는 프로젝트지만 이 소논문 작성은 정말 기억에 남는 프로젝트입니다. 과거 1학년때 집과 학교의 거리가 매우 멀어 수업을 듣지 않던 날이 많던 시기에, 신입생 세미나
    라는 1학년 필수 과목을 과락을 당했습니다. 이후 수강신청이 힘든 전공과목을 이수하기 위해 전공수업에만 몰두하다 시간이 지나 마지막 학기에 이 수업을 듣게 되었습니다.<br><br><br>

    시간은 흐르고 흘러 교수님과 면담식이었던 수업은 한학기 동안 소논문을 쓰는 팀 프로젝트로 변경되었고, 고학년이였던 저는 1학년 신입생들과 소논문을 쓰게 되었습니다. 이제 대학교에 들어온
    신입은 논문은 보통 읽어본적이 없고 친숙하지 못하다고 생각합니다. 예상과 맞게 신입생들은 많이 힘들어 보였고 더군다나 논문 작성은 저조차도 해본적이 없기에 더욱 힘들거라 예상이 되었습니다.
    졸업을 위해 힘들어 하는 팀원들을 다독여가고 가르치면서 프로젝트를 마무리 했습니다.<br><br><br>

    여기서 저는 이렇게 어린친구들과 힘들게 프로젝트를 한 경험이 도움이 많이 됐다고 생각합니다. 프로젝트가 항상 잘 진행되면 좋겠지만 힘들어하는 팀원이나 예측할 수 없는 사고로 인해 문제가 생겨도
    프로젝트를 어떻게든 마무리 할 수 있다는 자신감이 생겼습니다. 그리고 이 프로젝트 이후로 절대로 해야할 일을 늦춰선 안된다는 것도 뼈저리게 깨달았습니다.<br>
  </p>








  <footer class="footer">
    <h3 class="contact"> CONTACT ME</h3>
    <div class="links">
      <a class="insta" href="https://www.instagram.com/general_yu_j95/profilecard/?igsh=MTBpaW4yOHFsYW12dg=="> INSTAGRAM </a>
      <a class="facebook" href="https://www.facebook.com/people/%EC%A0%95%EC%9C%A0%EC%A2%85/pfbid0bNtbmwQipabYKS497vjAk627VNU9zXbwwBqhACBhw6zwHtSNwMvkwTGdbHoAfmRDl/"> FACEBOOK </a>
    </div>


  </footer>

</div>

</body>
</html>