<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WORK</title>

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Sunflower:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class = frame>

  <nav class="navigator">
    <h3 class="site-name">KINGDOM OF YUJONG</h3>
    <ul>
      <li><a class="nav-menu" href="/">HOME</a></li>
      <li><a class="nav-menu" href="/info">INFO</a></li>
      <li><a class="nav-menu" href="/work">WORK</a></li>
      <li><a class="nav-menu" href="/index">BOARD</a></li>
    </ul>
  </nav>

  <h5 class="project4Matlab">유도미사일 시뮬</h5>

  <div>

    <img class="matProjectPic"  src="/css/image/matlab.png" alt="">

    <div class="projectGle4">
      <p>사용한기술</p>

      <p>MATLAB</p>
      <p>MATLAB SIMULINK</p>


      <br>
      <p>기능</p>
      <p>비행중인 물체를 벡터계산을 통해 요격하는 기능</p>

    </div>

  </div>
  <a href="/css/matlab.pdf" download="example.pdf" class="download-button2">다운로드</a>
  <p class="projectGle44" style="clear:left;  ">
    <br>
    Matlab과 Simulink를 이용해 날아가는 비행물체를 미사일로 요격하는 시뮬레이션 팀 프로젝트입니다. 타이머로 시간에 따라 벡터 방향으로 움직이는 2차원 그래프를 형성하고, 비행물체의 벡터를 입력해 움직임을
    부여한 후, 미사일의 벡터를 시간에 따라 비행물체 벡터에 대해 While 반복문으로 계산해 요격하는 것이 프로젝트의 목표였습니다.<br><br><br>

    팀원 모두 프로그래밍에 자신이 있었기에 프로젝트가 순조롭게 진행될 것이라 예상했습니다. 그러나 팀원들 모두 기존에 쓰던 C언어, JAVA 등의 스크립트 언어와 전혀 다른 구조를 이해하기 힘들어 하며 난항을 겪게 되었습니다.
    공학적 계산을 목적으로 만든 Matlab 프로그래밍에 익숙해지는데 어려움이 있었고 Matlab 내부에 있는 Simulink 시스템을 다루면서 많은 양의 도구를 이해하는데
    어려운 부분이 많아 프로젝트를 수행하기 매우 어렵고 촉박한 상황이었습니다. 그래서 이 프로젝트에서는 교수님께 질문하는 것 외에 팀원들과 모여 구글링을 하여
    학습을 하거나 다 같이 Matlab 매뉴얼을 학습해 프로그램에 적응해 나갔습니다. 기본적인 뼈대가 되는 스크립트 설계는 각자 업무를 할당해 진행을 하였고
    Simulink 설계는 각자 하는 것이 아닌 모두 모여 스터디 형식으로 진행해 더 효율적이고 빠르게 진행함으로써 분업과 협업을 통해 극복해냈습니다. <br><br><br>

    프로젝트 발표를 진행 후, 팀원들과 함께 관련된 논문을 찾아 읽어보고 기술적으로 적용하지 못해 아쉬웠던 부분들을 체크하며 보고서를 작성하며 프로젝트를 마무리했습니다.
    <br>


  </p>









  <footer class="footer">
    <h3 class="contact"> CONTACT ME</h3>
    <div class="links">
      <a class="insta" href="https://www.instagram.com/general_yu_j95/profilecard/?igsh=MTBpaW4yOHFsYW12dg=="> INSTAGRAM </a>
      <a class="facebook" href="https://www.facebook.com/people/%EC%A0%95%EC%9C%A0%EC%A2%85/pfbid0bNtbmwQipabYKS497vjAk627VNU9zXbwwBqhACBhw6zwHtSNwMvkwTGdbHoAfmRDl/"> FACEBOOK </a>
    </div>


  </footer>

</div>

</body>
</html>