<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORK</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&
    family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1
    ,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Sunflower:wght@300&display=swap" rel="stylesheet">


</head>
<body>
<div class = frame>

    <nav class="navigator">
        <h3 class="site-name">KINGDOM OF YUJONG</h3>
        <ul>
            <li><a class="nav-menu" href="/">HOME</a></li>
            <li><a class="nav-menu" href="/info">INFO</a></li>
            <li><a class="nav-menu" href="/work">WORK</a></li>
            <li><a class="nav-menu" href="/index">BOARD</a></li>
        </ul>
    </nav>


    <h5 class="homepy">홈페이지 프로젝트</h5>

    <div>

    <img class="webProjectPic"  src="/css/image/webimage1.png" alt="">

    <div class="projectGle1">
        <p>사용한기술</p>

            <p>HTML</p>
            <p>CSS</p>

        <br>
        <p>기능</p>
        <p>상단 네비게이션 기능</p>
        <p>사진,글에 하이퍼링크 기능</p>
        <p>사진,글에 Hover 기능</p><br>
    </div>

    </div>
    <a href="https://github.com/"  class="download-button5">Github</a>


    <p class="projectGle11" style="clear:left;  ">
        <br>
        웹을 처음 접하고 백엔드 공부를 하고있을때, 어떤식으로 웹의 뼈대가 작동하는지 궁금하여 제일 먼저 시작해본 프로젝트
    입니다. HTML의 기본적인 구조, CSS를 이용한 텍스트와 사진 등의 배치 그리고 여러가지 CSS의 기초적인 기능들을 배웠습니다.<br><br><br>

        처음 시작하는 문법이다 보니 이해하고 적응하는데 어려움이 있었습니다. HTML/CSS 문법을 익히기 위해 유튜브나 인터넷 검색 등 많은 방법을 이용해 학습해 나갔습니다.<br><br><br>


        추후 진행한 CRUD 게시판의 컨트롤러와 접목시켜 어떤식으로 프론트와 백엔드가 만나는지에 대해 이해하고 학습했습니다. 게시판 디자인이나 버튼디자인 등 시작적으로 부족한 점이 많아
        여러가지 디자인들을 적용해가며 학습하며 진행해 나갈예정입니다.
    </p>






    <footer class="footer">
        <h3 class="contact"> CONTACT ME</h3>
        <div class="links">
            <a class="insta" href="https://www.instagram.com/general_yu_j95/profilecard/?igsh=MTBpaW4yOHFsYW12dg=="> INSTAGRAM </a>
            <a class="facebook" href="https://www.facebook.com/people/%EC%A0%95%EC%9C%A0%EC%A2%85/pfbid0bNtbmwQipabYKS497vjAk627VNU9zXbwwBqhACBhw6zwHtSNwMvkwTGdbHoAfmRDl/"> FACEBOOK </a>
        </div>


    </footer>

</div>

</body>
</html>