<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WORK</title>

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Sunflower:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class = frame>

  <nav class="navigator">
    <h3 class="site-name">KINGDOM OF YUJONG</h3>
    <ul>
      <li><a class="nav-menu" href="/">HOME</a></li>
      <li><a class="nav-menu" href="/info">INFO</a></li>
      <li><a class="nav-menu" href="/work">WORK</a></li>
      <li><a class="nav-menu" href="/index">BOARD</a></li>
    </ul>
  </nav>



  <h5 class="project5Silvaco">태양전지 설계</h5>

  <div>

    <img class="silProjectPic"  src="/css/image/silvaco.png" alt="">

    <div class="projectGle5">
      <p>사용한기술</p>

      <p>SILVACO</p>


      <br>
      <p>기능</p>
      <p>-</p>

    </div>

  </div>
  <a href="/css/silvaco.pdf" download="example.pdf" class="download-button3">다운로드</a>
  <p class="projectGle55" style="clear:left;  ">
    <br>
    태양전지 설계 프로젝트는 기능이 있는 프로젝트가 아닌 Silvaco 프로그램으로 태양전지 반도체를 설계해 최대한 효율이 높게 설계하는게 목표인 프로젝트입니다.
    표면을 texturing 공정을 이용하여 실리콘의 표면 반사도를 증가시키고, 실리콘 질화막을 이중반사 방지막으로 사용하여 태양광 흡수 스펙트럼에서
    더 넓은 영역을 흡수하여 효율을 올렸습니다. 또한 Perc기술을 응용해 장파장 태양빛을 전지안으로 반사시켜 전지내 생성된 전공의 접촉면을 줄여 손실을
    줄였습니다.<br><br><br>

    위 기술을 응용하여 고효율의 전지를 설계하려 했으나, 태양전지 자체가 효율이 좋지 못하고 설계 방법도 까다롭다보니 좋은 효율을 뽑아내지 못했습니다.<br><br><br>

    프로젝트가 마무리 되고 문제점을 찾기위해 해외 논문을을 찾아보았고, 페로브스카이트를 사용한 silvaco 실행코드 참고하여 조금 더 효율이 높은 전지를 설계했습니다.
    <br>

  </p>





  <footer class="footer">
    <h3 class="contact"> CONTACT ME</h3>
    <div class="links">
      <a class="insta" href="https://www.instagram.com/general_yu_j95/profilecard/?igsh=MTBpaW4yOHFsYW12dg=="> INSTAGRAM </a>
      <a class="facebook" href="https://www.facebook.com/people/%EC%A0%95%EC%9C%A0%EC%A2%85/pfbid0bNtbmwQipabYKS497vjAk627VNU9zXbwwBqhACBhw6zwHtSNwMvkwTGdbHoAfmRDl/"> FACEBOOK </a>
    </div>


  </footer>

</div>

</body>
</html>