<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WORK</title>

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Sunflower:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class = frame>

  <nav class="navigator">
    <h3 class="site-name">KINGDOM OF YUJONG</h3>
    <ul>
      <li><a class="nav-menu" href="/">HOME</a></li>
      <li><a class="nav-menu" href="/info">INFO</a></li>
      <li><a class="nav-menu" href="/work">WORK</a></li>
      <li><a class="nav-menu" href="/index">BOARD</a></li>
    </ul>
  </nav>


  <h5 class="project3Capstone">캡스톤디자인</h5>

  <div>

    <img class="capProjectPic"  src="/css/image/capstone.png" alt="">

    <div class="projectGle3">
      <p>사용한기술</p>

      <p>TensorFlow</p>
      <p>AVFoundation</p>
      <p>RxSwift</p>
      <p>realm</p>
      <p>Firebase</p>

      <br>
      <p>기능</p>
      <p>운동 시 모션인식 기능을 이용한
        갯수 체크 </p>

    </div>

  </div>
  <a href="/css/capstone.pdf" download="example.pdf" class="download-button1">다운로드</a>
  <p class="projectGle33" style="clear:left;  ">
    <br>
    코로나 시기때 홈 트레이닝이 열풍일때 졸업 작품으로 만들어본 AI모션인식 기반 어플리케이션 팀 프로젝트입니다.
    저의 업무는 data를 확보하기 위해 사진을 모으고 TensorFlow를 사용해 2.5만장의 데이터를 학습시켜 정확도를 높이는 것 이었습니다.<br><br>
<br>
    전자공학 전공생이다 보니 어플리케이션과 AI를 배우기 위해서는 3개월이라는 짧은 프로젝트 기간안에 하기는 불가능하다고 생각했습니다.
    그래서 팀원끼리 모여 최대한 정보 공유와 스터디를 진행하고 오픈소스를 찾아가며 클론코딩해 프로젝트를 마무리 지었습니다<br>
  </p>











  <footer class="footer">
    <h3 class="contact"> CONTACT ME</h3>
    <div class="links">
      <a class="insta" href="https://www.instagram.com/general_yu_j95/profilecard/?igsh=MTBpaW4yOHFsYW12dg=="> INSTAGRAM </a>
      <a class="facebook" href="https://www.facebook.com/people/%EC%A0%95%EC%9C%A0%EC%A2%85/pfbid0bNtbmwQipabYKS497vjAk627VNU9zXbwwBqhACBhw6zwHtSNwMvkwTGdbHoAfmRDl/"> FACEBOOK </a>
    </div>


  </footer>

</div>

</body>
</html>