<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WORK</title>

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Sunflower:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class = frame>

  <nav class="navigator">
    <h3 class="site-name">KINGDOM OF YUJONG</h3>
    <ul>
      <li><a class="nav-menu" href="/">HOME</a></li>
      <li><a class="nav-menu" href="/info">INFO</a></li>
      <li><a class="nav-menu" href="/work">WORK</a></li>
      <li><a class="nav-menu" href="/index">BOARD</a></li>
    </ul>
  </nav>

  <h5 class="PJT">PROJECT</h5>
  <h2 class="WB">WEB</h2>
  <div class="workPic1">
  <a href="/project1"><img class="wPic1" src="/css/image/webimage1.png"></a>
  <a href="/project2"><img class="wPic2" src="/css/image/crud1.png"></a>
  </div><br>
  <ul class=webName>
    <li class="homeP">홈페이지 프로젝트</li>
    <li class="crudP">게시판 프로젝트</li>
  </ul>
  <h2 class="ANO">ANOTHER</h2>
  <div class="workPic2">
  <a  href="/project3"><img class="wPic3" src="/css/image/capstone.png"></a>
  <a  href="/project4"><img class="wPic4" src="/css/image/matlab.png"></a>
  <a href="/project5"><img class="wPic5" src="/css/image/silvaco.png"></a>
    <ul class>
      <li class="capstoneP">캡스톤 디자인</li>
      <li class="matlabP">유도미사일 시뮬</li>
      <li class="silvacoP">태양전지 설계</li>
    </ul>
  <a  href="/project6"><img class="wPic6" src="/css/image/game.png"></a>
    <ul class>
      <li class="gameP">소논문 작성</li>

    </ul>

  </div>




  <footer class="footer" style="margin-top:100px;">
    <h3 class="contact"> CONTACT ME</h3>
    <div class="links">
      <a class="insta" href="https://www.instagram.com/general_yu_j95/profilecard/?igsh=MTBpaW4yOHFsYW12dg=="> INSTAGRAM </a>
      <a class="facebook" href="https://www.facebook.com/people/%EC%A0%95%EC%9C%A0%EC%A2%85/pfbid0bNtbmwQipabYKS497vjAk627VNU9zXbwwBqhACBhw6zwHtSNwMvkwTGdbHoAfmRDl/"> FACEBOOK </a>
    </div>


  </footer>

  </div>

</body>
</html>